
.card {
    background-color:#e5dbf7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    min-height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    margin-top: 30px;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.card-description {
    font-size: 1rem;
    color: #353535;
    font-size: 18px;
}
.card-extra-info {
    font-size: 12px;
    color: #2b2b2b;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;
}

.card:hover .card-extra-info {
    opacity: 1;
    max-height: 200px;
}